[REG0]
load = no
plugin= 'plugins/libregister.so'
device= 'REG0'
base_address = $0350
enable = yes

[REG1]
load = no
plugin= 'plugins/libregister.so'
device= 'REG1'
base_address = $0354
enable = yes

[STACK]
load = no
plugin= 'plugins/libstack.so'
device= 'STACK'
base_address = $0358
enable = yes

[ch376]
load = yes
plugin = 'plugins/libch376.so'
enable = yes
; device = 'CH376'
device =
base_address = $0340

[ch395]
load = yes
plugin = 'plugins/libch395.so'
enable = yes
; device = 'CH395'
device =
base_address = $0380

[ds1501]
load = yes
plugin = 'plugins/libds1501.so'
enable = yes
device = 'DS1501'
; base_address = $0360

[debug]
load = no
plugin = 'plugins/libdebug.so'
enable = no
device = 'DEBUG'
; base_address = $0360

[twilghte]
load = yes
plugin = 'plugins/libtwilighte.so'
enable = yes
device = 'Twilighte'
; base_address = $0320


[skel_bank]
load = no
plugin = 'plugins/libskel_bank.so'
enable = no

[skel_romdis]
load = no
plugin = 'plugins/libskel_romdis.so'
enable = no

[skel_clock]
load = no
plugin = 'plugins/libskel_clock.so'
enable = no

